.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}


* {
    font-family: "Roboto", sans-serif;
}

.header_black {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.5em 1em;
    background-color: black;
}

.logo-spotify {
    display: inline;
    height: 1.5em;
    justify-content: flex-end;
}

.menu-spotify {
    display: inline;
    width: 1.5em;
    height: auto;
    justify-content: right;
}

.hero {
    background-color: #519cf0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ffffff;
    min-height: 50vh;
    padding: 20px;
    padding-top: 100px;
    line-height: 1.5;
    font-size: 20px;
}

.green_button {
    background-color: rgb(36, 166, 36);
    height: 50px;
    width: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
}

.terms_conditions {
    font-size: 12px;
    margin-top: 30px;
}

/*  Sección: Beneficios */

.section_white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    padding: 1.25em;
}

.section_white_title {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1.25em;
}

.benefit {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 1.25em;
    padding-right: 1.25em;
}

.benefit_img {
    width: 6.25em;
    height: auto;
    margin-right: 1.25em;
}

.benefit_title {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.benefit_text {
    font-size: 1em;
}

.pie-de-pagina {
    background-color: black;
    color: white;
    display: flex;
    padding: 40px 30px;
    font-size: 0.7rem;
}

.legal-cookies {
    display: flex;
    gap: 30px;
    padding: 30px 10px;
}

.info {
    display: flex;
    padding: 20px;
}

.box-derecho {
    display: flex-end;
}

.contenedor-nombre-imagen {
    display: flex;
    margin-bottom: 30px;
    align-items: center;   
    
}

.imagen-bandera {
    margin-left: 30px;
    width: 2rem;
}

