body {
    font-family: 'Roboto', sans-serif;
}

.header_black {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: black
}

.logo-spotify {
    width: 100px;
    height: auto;

}

.menu-spotify {
    width: 30px;
    height: auto;
}

.blue_Spotify {
    background-color: #519cf0;
    display: block;
    color: white;
    height: 50vh;
    /*view height: 50% de la ventana del navegador */
    padding: 30px;
    padding-top: 100px;
    line-height: 1.5;
    font-size: 20px
}

.green_button {
    background-color: rgb(36, 166, 36);
    height: 15%;
    width: 90%;
    text-align: center; 
    text-wrap: balan;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 25px;
}

.terms_conditions {
    font-size: 12px;
    margin-top: 40px;
}

.white_spotify_title {
    text-align: center;
    padding: 20px;


}

.logo-music {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100px;
    height: auto;  
    padding: 5px;

}

.text-music {
    justify-content: center; 
    align-items: center;
    padding: 5px;
}